<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body class="d-lg-flex d-sm-block d-md-block">

<!-- nav -->

<div class="p-3 bg-white nav">
 

    <!-- logo -->
    <div class="p-2 f-center flex-column logo_div">
        <div class="bg-light rounded p-2" style="width: 30px;height: 25px;"></div>
         <div class="mt-2 logotext">World<b>Rent</b></div>  
    </div>



    <!-- navigatoin -->
      <div class="d-flex flex-column ">
        <small class="d-flex text-mute align-items-center px-3 round_btn">
            <div class="bg-light rounded p-2" style="width: 15px;height: 15px;">
            </div>
            <small class="m-2 my-3">Home</small>
        </small>
        <small class="d-flex text-mute align-items-center px-3 round_btn active_nav">
            <div class="active_icon_nav rounded p-2" style="width: 15px;height: 15px;">
            </div>
            <small class="m-2 my-3">Discorver</small>
        </small>
        <small class="d-flex text-mute align-items-center px-3 round_btn">
            <div class="bg-light rounded p-2" style="width: 15px;height: 15px;">
            </div>
            <small class="m-2 my-3">Favorite</small>
        </small>
        <small class="d-flex text-mute align-items-center px-3 round_btn">
            <div class="bg-light rounded p-2" style="width: 15px;height: 15px;">
            </div>
            <small class="m-2 my-3">Chats</small>
        </small>
        <small class="d-flex text-mute align-items-center px-3 round_btn">
            <div class="bg-light rounded p-2" style="width: 15px;height: 15px;">
            </div>
            <small class="m-2 my-3">Settings</small>
        </small>
                                        

      </div>




      <!-- advert nav-->
      <div class="d-flex flex-column f-center">
<small class="text-mute" style="font-size: 12px;">Download Ios App</small>

<div class="bg-light my-2" style="width: 80px; height: 80px;"></div>




    <div class="d-flex p-1 fw-bold f-center" style="border: 3px solid var(--black); border-radius: 10px;">

<div class="p-2" style="width: 10px; border-radius: 50px; background-color: var(--black);"></div>

<div class="fw-bold text-center" style="color: var(--black);">

<small class="text-mute" style="font-size: 13px; font-family: cursive;">Download on the</small>

<b style="font-size: 20px;font-weight: 700; font-family: cursive;">App Store</b>

</div>
</div>
</div>

<!-- end of advert nav -->


</div>

<!-- nav end -->




<!-- scrolls -->

<div class="col-lg-6 bg-white scroll p-2">
<!-- scroll header -->
    <div class="py-2 scroll_header">
        <!-- 1 -->
        <div class="">
<small class="text-mute fw-bold">Discorver</small>
<small class="text-mute p-2 fw-bold"> > </small>
<small class="text-mute fw-bold8                vbo 9ofds  ">Luxury appartment in Washington DC</small>
</div>

<!-- 2 -->
<div class="d-flex align-items-center">
<div class="p-2 bg-light mx-2" style="width: 20px; height: 20px; border-radius: 10px; position: relative;"> 
<div class="p-1" style="border-radius: 10px; background-color: var(--notification_pointer); position: absolute; top: -2px; right: -5;"></div>
</div>
<div class="p-2 bg-light" style="width: 30px; height: 30px; border-radius: 2px;"></div>
</div>
    </div>
<!-- end scroll header -->

<!-- content -->


<div class="p-2 my-2">
<!-- hero -->
    <h5 class="text-mute">Buy and sell in one sit @ <span style="color: var(--blue);">"World<b>Rent</b>"</span></h5>
  <!-- end hero -->

</div>


<!-- after hero -->
<div class="d-flex py-2" style="justify-content: space-between;">
    <!-- 1 -->
    <div>
<span style="color: var(--blue);">168 </span>Listing found
</div>
<!-- 2 -->
<div class="d-flex f-center">
<div class="mx-1">Sort by</div>
<small class="border p-1 mx-1 fw-bold f-center" style="border-radius:10px;">Newest > </small>
<small class="p-3 mx-1 fw-bold f-center text-white bg-light" style="border-radius:10px;"></small>
</div>


</div>

<!-- end after hero -->
  
<!-- end content -->


</div>

<!-- end scroll -->


<!-- map -->
<div class="col-lg-3 bg-light map" ></div>
<!-- map -->
</body>
</html>