:root
{
 --blue: rgb(0, 0, 214);
 --lightblue: rgb(219 242 255);
 --mute: rgb(165, 162, 162);
 --scroll: #089dbe;
 --black: #000000;
 --notification_pointer:  rgb(120, 207, 120);
}


body
{
    overflow-y: hidden;
    overflow-x: hidden;
}

 li
 {
    list-style: none;
 }
/* upnav */
.upnav
{    
    display: flex;
    justify-content: space-between;
    
}


/* end upnav */
/* side_nav */

.side_nav
{
height: 90vh;
display: flex;
align-items: center;
flex-direction: column;


}
.selector {
    position: relative;
    padding: 20px;
    width: 400px;
    color: #7e7e7e;
}

.selector ul {
    position: relative;
    display: block;
    overflow: auto;
    min-width: 138px;
    max-height: 200px;
    background: #fff;
    list-style: none;
    white-space: inherit;
    padding-right: 17px;
    width: calc(100% + 17px)
}

.selector li {
    position: relative;
    padding: 3px 20px 3px 25px;
    cursor: pointer
}

.selector li:before {
    position: absolute;
    top: 50%;
    left: 0;
    top: 4px;
    display: inline-block;
    margin-right: 9px;
    width: 17px;
    height: 17px;
    background-color: #f4f4f4;
    border: 1px solid #d5d5d5;
    content: ""
}

.selector li[data-selected="1"]:before {
    border: 1px solid #d7d7d7;
    background-color: #fff
}

.selector li[data-selected="1"]:after {
    position: absolute;
    top: 50%;
    left: 3px;
    top: 11px;
    display: inline-block;
    width: 4px;
    height: 10px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    background: none;
    color: #39c9a9;
    content: "";
    -webkit-transform: rotate(40deg) translateY(-50%);
    transform: rotate(40deg) translateY(-50%)
}

.selector li:hover {
    color: #aaa
}

.selector li .total {
    position: absolute;
    right: 0;
    color: #d7d7d7
}

.selector .price-slider {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 17px
}

@media (min-width: 768px) {
    .selector .price-slider {
        padding-top:8px
    }
}

.selector .price-slider:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 0;
    color: #39c9a9;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.selector #slider-range {
    width: 90%;
    margin-bottom: 30px;
    border: none;
    background: #e2f7f2;
    height: 3px;
    margin-left: 8px;
    margin-right: 8px
}

@media (min-width: 768px) {
     .selector #slider-range {
        width:100%
    }
}

.selector .ui-slider-handle {
    border-radius: 50%;
    background-color: #39c9a9;
    border: none;
    top: -14px;
    width: 28px;
    height: 28px;
    outline: none
}

@media (min-width: 768px) {
    .selector .ui-slider-handle {
        top:-7px;
        width: 16px;
        height: 16px
    }
}

.selector .ui-slider-range {
    background-color: #d7d7d7
}

.selector .slider-price {
    position: relative;
    display: inline-block;
    padding: 5px 40px;
    width: 40%;
    background-color: #e2f7f2;
    line-height: 28px;
    text-align: center
}

.selector .slider-price:before {
    position: absolute;
    top: 50%;
    left: 13px;
    margin-top: 0;
    color: #39c9a9;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.selector .show-all {
    position: relative;
    padding-left: 25px;
    color: #39c9a9;
    cursor: pointer;
    line-height: 28px
}

.selector .show-all:after, .selector .show-all:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -1px;
    color: #39c9a9;
    width: 10px;
    border-bottom: 1px solid
}

.selector .show-all:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.selector.open ul {
    max-height: none
}

.selector.open .show-all:after {
    display: none
}


* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}






/* end side_nav */
.text-mute
{
color: var(--mute);
}
.logo_div
{
    padding-top: 6px;
}
 .logotext
 {
  font-size: 15px;
 }
.active_nav
{
    background-color: var(--lightblue);
    color: var(--blue);
}

.active_icon_nav
{
    background-color:  var(--blue);
}




/* componenets styles */
.f-center
{
    display: flex;
align-items: center;
justify-content: center;

}
.round_btn
{
    border-radius: 8px;
}

.btw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* scroll */
.scroll
{
    height: 90vh; 
    flex-grow: 1;  
     overflow-y: scroll;
}

.scroll::-webkit-scrollbar
{
    width: 15px;
}
.scroll::-webkit-scrollbar-track
{
border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb:hover
{
background: var(--scroll);

}
.scroll_header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* map */
.map
{
    height: 99vh;
    flex-grow: 1;
    border-bottom-left-radius: 20px;
}



/* styles */
.border-right
{
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}
.border-left
{
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}